.key-list__item {
  border: 5px solid #de3a3a;
  background: rgba(0, 201, 206, 0.8);
  color: #de3a3a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem;
  padding: 1rem 0.5rem;

  border-radius: 10px;
  cursor: pointer;
  transition: all 0.07s ease-in-out;
  width: 100px;
  text-shadow: 0 0 5px #00c9ce;
}

.key-list__item:hover {
  border: 5px solid #00c9ce;
  color: #00c9ce;
  background: #de3a3a;
  transform: scale(1.2);
}

.key-list__item__text {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.key-list__item__sound {
  font-size: 1.2rem;
  font-weight: 300;
}
